.main-menu_item{
  color: black;

  min-width: 100px;
  height: 100%;
}


.index_content{
  background-color: rgba(0, 0, 0, .1);
  border-radius: 10px;
  min-height: 200px;
  width: 50%;
  height: 50%;
  overflow: scroll;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.btn_register-now{
  margin-top: 50px;
}