[ng\:cloack],[ng-cloak],[data-ng-cloack],[x-ng-cloack], .ng-cloack, .x-ng-cloack{
  display: none !important;
}

div{
  background-color: gray;
}

.logo{
  min-width: 50px;
  max-height: 100px;
}

.main-menu{
  min-width: 100px;
}