.jumbotron.text-center
    h1 ВЫХОД!
    p Вы действительно хотите выйти из системы?
    p
        a.btn.btn-danger.btn-lg(ui-sref="home", href='', role='button',ng-click="ac.logout()") ДА
        a.btn.btn-primary.btn-lg(href='', role='button') нет