.row
    .col-xs-12
        img(src="i/sea.jpg", alt="IMG", height=300, width="100%")
.row
    .col-xs-12(ng-include="'userSpace/userSpaceMenu.html'")
.row
    .col-xs-3
        ul
            li Name: {{'name'}}
            li Height: {{'height'}}
            li Widht: {{'widht'}}
            li Birth: {{'birth'}}
    .col-xs-9
        img(data-src="", alt="image", height=300, width="100%")
        img(data-src="", alt="image", height=300, width="100%")
        img(data-src="", alt="image", height=300, width="100%")
        img(data-src="", alt="image", height=300, width="100%")
        img(data-src="", alt="image", height=300, width="100%")
        img(data-src="", alt="image", height=300, width="100%")

