.jumbotron
    h1.text-center Учётная запись
    .row
        .col-xs-3
        .col-xs-2
            label Имя подльзователя
        .col-xs-4
            input
        .col-xs-3
    .row
        .col-xs-3
        .col-xs-2
            label email
        .col-xs-4
            input
        .col-xs-3
    .row
        .col-xs-3
        .col-xs-2
            label Вес
        .col-xs-4
            input
        .col-xs-3
    .row
        .col-xs-3
        .col-xs-2
            label Рост
        .col-xs-4
            input
        .col-xs-3
    .row
        .col-xs-3
        .col-xs-2
            label Дата рождения
        .col-xs-4
            input
        .col-xs-3
    .row
        .col-xs-12.text-center
            p
            p
                a.btn.btn-primary.btn-lg(href='#', role='button') сохранить