.row.text-center
   .col-lg-1.col-md-1.col-sm-1.col-xs-1
   .col-lg-10.col-md-10.col-sm-10.col-xs-10
      h2 Profile
      button.btn.btn-success.btn_register-now Register Now
   .col-lg-1.col-md-1.col-sm-1.col-xs-1