.row
    .col-xs-12(ng-include="'navbar/navbar.html'")
h1 login
form(name="loginForm", ng-submit="lc.login()")
    .form-group
        label(for="LoginEmail") email
        input(ng-model="lc.user.email", type="email", placeholder="email")#LoginEmail.form-control
    .form-group
        label(for="LoginPassword") password
        input(ng-model="lc.user.password", type="password")#LoginPassword.form-control
    button(type="submit", ng-submit="lc.login()").btn.btn-default Login
