h1 register
form(name="registerForm", ng-submit="rc.register()")
    .form-group
        label(for="registerFullname") Full Name
        input(ng-model="rc.user.fullname", type="text", placeholder="full name")#registerFullname.form-control
    .form-group
        label(for="registerEmail") email
        input(ng-model="rc.user.email", type="email", placeholder="email")#registerEmail.form-control
    .form-group
        label(for="registerPassword") password
        input(ng-model="rc.user.password", type="password")#registerPassword.form-control
    button(type="submit").btn.btn-default Register
