.jumbotron
    h1.text-center Пароль
    .row
        .col-xs-1
        .col-xs-4
            label старый пароль
        .col-xs-4
            input
        .col-xs-3
    .row
        .col-xs-1
        .col-xs-4
            label новый пароль
        .col-xs-4
            input
        .col-xs-3
    .row
        .col-xs-1
        .col-xs-4
            label подтверждение
        .col-xs-4
            input
        .col-xs-3
    .row
        .col-xs-12.text-center
            p
            p
                a.btn.btn-primary.btn-lg(href='#', role='button') сохранить