.row
   .col-xs-12
      nav.navbar.navbar-default
         .container-fluid
            .navbar-header
               button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
                  span.sr-only Toggle navigation
                  span.icon-bar
                  span.icon-bar
                  span.icon-bar
               a.navbar-brand(href='#') AF
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
               ul.nav.navbar-nav
                  li(ui-sref-active="active")
                     a(ui-sref="userSpace.workout") Workout
                  li(ui-sref-active="active")
                     a(ui-sref="userSpace.exercises") Exercises
                  li(ui-sref-active="active")
                     a(ui-sref="userSpace.statistics") Statistics
                  li(ui-sref-active="active")
                     a(ui-sref="userSpace.profile") Profile
               .input-group.user-space-menu__search.navbar-right.panel-black
                  input.form-control(type='text', placeholder='Search for...')
                  span.input-group-btn
                     button.btn.btn-default(type='button') Go!
