.jumbotron.text-center
    a.btn.btn-primary(ui-sref=".workout" ui-sref-active="active") WorkOut
    a.btn.btn-primary(ui-sref=".exercises" ui-sref-active="active") Exercises
    a.btn.btn-primary(ui-sref=".statistics" ui-sref-active="active") Statistics
    a.btn.btn-primary(ui-sref=".profile" ui-sref-active="active") Profile
div(ui-view)