.row
   .col-xs-12
      ul.nav.navbar-nav.navbar-inverse
         li
            a(ui-sref="userSpace.workout" ui-sref-active="active") Workout
         li
            a(ui-sref="userSpace.exercises" ui-sref-active="active") Exercises
         li
            a(ui-sref="userSpace.statistics" ui-sref-active="active") Statistics
         li
            a(ui-sref="userSpace.profile" ui-sref-active="active") Profile