.row
   .col-xs-12(ng-include="'app/userSpace/userSpaceMenu.html'")
.row
   .col-xs-3(ng-include="'app/userBar/userBar.html'")
   .col-xs-9
      .row.panel
         .input-group.exercises__search
            input.form-control(type='text', placeholder='Search for...')
            span.input-group-btn
               button.btn.btn-default(type='button') Go!
      .row
         .col-sm-6.col-md-4
            .thumbnail
               img(data-src='holder.js/100%x200', alt='Generic placeholder thumbnail')
               .caption
                  h3 Thumbnail label
                  p Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                  p
                     a.btn.btn-primary(href='#', role='button') Button
                     a.btn.btn-default(href='#', role='button') Button
         .col-sm-6.col-md-4
            .thumbnail
               img(data-src='holder.js/100%x200', alt='Generic placeholder thumbnail')
               .caption
                  h3 Thumbnail label
                  p Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                  p
                     a.btn.btn-primary(href='#', role='button') Button
                     a.btn.btn-default(href='#', role='button') Button
         .col-sm-6.col-md-4
            .thumbnail
               img(data-src='holder.js/100%x200', alt='Generic placeholder thumbnail')
               .caption
                  h3 Thumbnail label
                  p Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                  p
                     a.btn.btn-primary(href='#', role='button') Button
                     a.btn.btn-default(href='#', role='button') Button
         .col-sm-6.col-md-4
            .thumbnail
               img(data-src='holder.js/100%x200', alt='Generic placeholder thumbnail')
               .caption
                  h3 Thumbnail label
                  p Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                  p
                     a.btn.btn-primary(href='#', role='button') Button
                     a.btn.btn-default(href='#', role='button') Button
         .col-sm-6.col-md-4
            .thumbnail
               img(data-src='holder.js/100%x200', alt='Generic placeholder thumbnail')
               .caption
                  h3 Thumbnail label
                  p Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                  p
                     a.btn.btn-primary(href='#', role='button') Button
                     a.btn.btn-default(href='#', role='button') Button
         .col-sm-6.col-md-4
            .thumbnail
               img(data-src='holder.js/100%x200', alt='Generic placeholder thumbnail')
               .caption
                  h3 Thumbnail label
                  p Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                  p
                     a.btn.btn-primary(href='#', role='button') Button
                     a.btn.btn-default(href='#', role='button') Button