nav.navbar.navbar-inverse
    .navbar-header
        a(ui-sref="#").navbar-brand Fitness
    ul.nav.navbar-nav
        li
            a(ui-sref="home" ui-sref-active="active") Home
        li
            a(ui-sref="about" ui-sref-active="active") About
        li
            a(ui-sref="userSpace" ui-sref-active="active") Sing In