nav.navbar.navbar-inverse
    .navbar-header
        a(ui-sref="home").navbar-brand Fitness
    ul.nav.navbar-nav
        li(ui-sref-active="active")
            a(ui-sref="home") Home
        li(ui-sref-active="active")
            a(ui-sref="about") About
        li(ui-sref-active="active")
            a(ui-sref="userSpace") Sing In