.row.text-center
   .col-lg-1.col-md-1.col-sm-1.col-xs-1
   .col-lg-10.col-md-10.col-sm-10.col-xs-10
      h2 Home
      p.
         Lorem ipsum dolor sit amet,
         consectetur adipiscing elit. Aenean finibus elementum urna, eget cursus nunc vestibulum at.
         Sed dapibus metus justo, quis condimentum lectus placerat vel. Sed ut ante vel urna porta molestie.
         Phasellus consequat dapibus enim, eget vestibulum risus aliquet eget. Aenean sed ipsum dapibus,
         interdum leo ut, mattis sem. Etiam imperdiet rutrum eleifend. Nulla non odio nec magna dapibus
         aliquet at sit amet turpis.
      button.btn.btn-success.btn_register-now Register Now
   .col-lg-1.col-md-1.col-sm-1.col-xs-1