.row
    .col-xs-12
        img(alt="img", width="100%", height="100px")
.row
    .col-xs-3
        img(alt="img")
    .col-xs-9 {{'userName'}}
.row
    .col-xs-3 {{'1'}}
    .col-xs-3 {{'1'}}
    .col-xs-3 {{'1'}}
    .col-xs-3 {{'1'}}
