.row
   .col-xs-12
      .media
         .media-body
            h2.media-heading Heading 1
            p.
               Lorem ipsum dolor sit amet,
               consectetur adipiscing elit. Aenean finibus elementum urna, eget cursus nunc vestibulum at.
               Sed dapibus metus justo, quis condimentum lectus placerat vel. Sed ut ante vel urna porta molestie.
               Phasellus consequat dapibus enim, eget vestibulum risus aliquet eget. Aenean sed ipsum dapibus,
               interdum leo ut, mattis sem. Etiam imperdiet rutrum eleifend. Nulla non odio nec magna dapibus
               aliquet at sit amet turpis.
            p.
               Lorem ipsum dolor sit amet,
               consectetur adipiscing elit. Aenean finibus elementum urna, eget cursus nunc vestibulum at.
               Sed dapibus metus justo, quis condimentum lectus placerat vel. Sed ut ante vel urna porta molestie.
               Phasellus consequat dapibus enim, eget vestibulum risus aliquet eget. Aenean sed ipsum dapibus,
               interdum leo ut, mattis sem. Etiam imperdiet rutrum eleifend. Nulla non odio nec magna dapibus
               aliquet at sit amet turpis.
            p.
               Lorem ipsum dolor sit amet,
               consectetur adipiscing elit. Aenean finibus elementum urna, eget cursus nunc vestibulum at.
               Sed dapibus metus justo, quis condimentum lectus placerat vel. Sed ut ante vel urna porta molestie.
               Phasellus consequat dapibus enim, eget vestibulum risus aliquet eget. Aenean sed ipsum dapibus,
               interdum leo ut, mattis sem. Etiam imperdiet rutrum eleifend. Nulla non odio nec magna dapibus
               aliquet at sit amet turpis.
            p.
               Lorem ipsum dolor sit amet,
               consectetur adipiscing elit. Aenean finibus elementum urna, eget cursus nunc vestibulum at.
               Sed dapibus metus justo, quis condimentum lectus placerat vel. Sed ut ante vel urna porta molestie.
               Phasellus consequat dapibus enim, eget vestibulum risus aliquet eget. Aenean sed ipsum dapibus,
               interdum leo ut, mattis sem. Etiam imperdiet rutrum eleifend. Nulla non odio nec magna dapibus
               aliquet at sit amet turpis.
            p.
               Lorem ipsum dolor sit amet,
               consectetur adipiscing elit. Aenean finibus elementum urna, eget cursus nunc vestibulum at.
               Sed dapibus metus justo, quis condimentum lectus placerat vel. Sed ut ante vel urna porta molestie.
               Phasellus consequat dapibus enim, eget vestibulum risus aliquet eget. Aenean sed ipsum dapibus,
               interdum leo ut, mattis sem. Etiam imperdiet rutrum eleifend. Nulla non odio nec magna dapibus
               aliquet at sit amet turpis.
         .media-right
            img.media-object(src='i/logo.png', alt='LOGO',height=400,width=400)

.row
   .col-xs-12
      h2 Heading 2
      p.
         Lorem ipsum dolor sit amet,
         consectetur adipiscing elit. Aenean finibus elementum urna, eget cursus nunc vestibulum at.
         Sed dapibus metus justo, quis condimentum lectus placerat vel. Sed ut ante vel urna porta molestie.
         Phasellus consequat dapibus enim, eget vestibulum risus aliquet eget. Aenean sed ipsum dapibus,
         interdum leo ut, mattis sem. Etiam imperdiet rutrum eleifend. Nulla non odio nec magna dapibus
         aliquet at sit amet turpis.
      p.
         Lorem ipsum dolor sit amet,
         consectetur adipiscing elit. Aenean finibus elementum urna, eget cursus nunc vestibulum at.
         Sed dapibus metus justo, quis condimentum lectus placerat vel. Sed ut ante vel urna porta molestie.
         Phasellus consequat dapibus enim, eget vestibulum risus aliquet eget. Aenean sed ipsum dapibus,
         interdum leo ut, mattis sem. Etiam imperdiet rutrum eleifend. Nulla non odio nec magna dapibus
         aliquet at sit amet turpis.
      p.
         Lorem ipsum dolor sit amet,
         consectetur adipiscing elit. Aenean finibus elementum urna, eget cursus nunc vestibulum at.
         Sed dapibus metus justo, quis condimentum lectus placerat vel. Sed ut ante vel urna porta molestie.
         Phasellus consequat dapibus enim, eget vestibulum risus aliquet eget. Aenean sed ipsum dapibus,
         interdum leo ut, mattis sem. Etiam imperdiet rutrum eleifend. Nulla non odio nec magna dapibus
         aliquet at sit amet turpis.
      p.
         Lorem ipsum dolor sit amet,
         consectetur adipiscing elit. Aenean finibus elementum urna, eget cursus nunc vestibulum at.
         Sed dapibus metus justo, quis condimentum lectus placerat vel. Sed ut ante vel urna porta molestie.
         Phasellus consequat dapibus enim, eget vestibulum risus aliquet eget. Aenean sed ipsum dapibus,
         interdum leo ut, mattis sem. Etiam imperdiet rutrum eleifend. Nulla non odio nec magna dapibus
         aliquet at sit amet turpis.
