nav(ng-controller="StatusCtrl as sc").navbar.navbar-inverse.navbar-collapse
    .navbar-header
        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        a(ui-sref="home").navbar-brand Fitness
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
        ul.nav.navbar-nav
            li(ui-sref-active="active")
                a(ui-sref="home") Home
            li(ui-sref-active="active")
                a(ui-sref="about") About
            li(ui-sref-active="active")
                a(ui-sref="userSpace") Sing In
        ul.nav.navbar-nav.navbar-right
            li(ui-sref-active="active", ng-hide="currentUser.signedIn")
                a(ui-sref="login") login
            li(ui-sref-active="active", ng-hide="currentUser.signedIn")
                a(ui-sref="register") regisration
            li(ng-if="currentUser.signedIn")
                a {{currentUser.name}}
            li(ng-show="currentUser.signedIn")
                a(ng-click="sc.logout()") Logout
